<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resu.me Builder | resumebuilder.com</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="navbar--logo">
            <img src="../img/logo1.png" alt="ResuMe.com">
        </div>
        <div class="navbar--logoname">
            <div class="navbar--logoname1"><h6>Resu.</h6></div>
            <div class="navbar--logoname2"><h6>me</h6></div>
        </div>
        <button class="navbar--btn1">Sign Up</button>
        <button class="navbar--btn2">Get Started</button>
    </nav>

    <section class="hero">
        <h4>Best Online Resume Builder</h4>
        <h6>Free | Fast | Easy </h6>
        <p>Creating a resume can be stressful. Fonts, designs, colours, sections - nothing but
            confusion. So stop wasting your precious time and leave all of that to us.
            Build your professional resume in minutes! </p>

        <button class="hero--btn3">BUILD YOUR RESUME NOW</button>

        <div class="hero--first-screen-webp">
            <img src="../img/first-screen-webp.png" alt="first-screen-webp">
        </div>
    </section>

    <section class="whychooseus">
        <h5>Why Choose Us ?</h5>

        <div class="whychooseus--Planning1">
            <img src="../img/Planning1.png" alt="Planning 1">
        </div>

        <div class="whychooseus--usecases">
            <div class="whychooseus--checkmark1">
                <img src="../img/checkmark.png">
            </div>
            <div class="whychoseus--useheading1">Free, Fast and Easy to Use</div>
            <div class="whychooseus--usecontent1">
                You can create professional resumes in minutes for zero cost.
                Resu.me is 100% free to use and always will be!
            </div>

            <div class="whychooseus--checkmark2">
                <img src="../img/checkmark.png">
            </div>
            <div class="whychoseus--useheading2">Customizable templates</div>
            <div class="whychooseus--usecontent2">
                An online resume builder shouldn't mean boring resumes.
                Choose from various templates, fonts and colors to make your resume stand out from the rest
            </div>

            <div class="whychooseus--checkmark3">
                <img src="../img/checkmark.png">
            </div>
            <div class="whychoseus--useheading3">Free download</div>
            <div class="whychooseus--usecontent3">
                Download your resume as pdf, word or even as an online page and
                send it straight to your dream company!
            </div>
        </div>
    </section>

    <section class="Perfectresume">
        <h5>Perfect resume in 3 easy steps</h5>
        <div class="Perfectresume--backgroundimg">
            <img src="../img/Rectangle4.png">
        </div>

        <div class="Perfectresume--Step1">
            <div class="Perfectresume--ellipse1">
                <img src="../img/ellipse.png">
            </div>
            <div class="Perfectresume--layout1">
                <img src="../img/layout1.png" alt="Step 1">
            </div>
            <h6>CHOOSE YOUR TEMPLATE</h6>
            <p>Choose your design, font and color to build out your unique resume.</p>
        </div>

        <div class="Perfectresume--Step2">
            <div class="Perfectresume--ellipse2">
                <img src="../img/ellipse.png">
            </div>
            <div class="Perfectresume--layout2">
                <img src="../img/layout2.png" alt="Step 2">
            </div>
            <h6>FILL IN YOUR INFORMATION</h6>
            <p>Fill in your personal details, education, skills, experience, etc.</p>
        </div>

        <div class="Perfectresume--Step3">
            <div class="Perfectresume--ellipse3">
                <img src="../img/ellipse.png">
            </div>
            <div class="Perfectresume--layout3">
                <img src="../img/layout3.png" alt="Step 3">
            </div>
            <h6>DOWNLOAD YOUR RESUME</h6>
            <p>Download your resume in pdf or docx format, or even as an online page.</p>
        </div>
    </section>

    <section class="askedquestions">
        <div class="askedquestions--backgroundimg">
            <img src="../img/rectangle5.png">
        </div>

        <div class="askedquestions--heading">
            <h5>Frequently Asked Questions</h5>
        </div>

        <div class="askedquestion--question1">
            <h6>Do I need a different resume for different jobs?</h6>
            <p>Every time you apply for a new job, you should make sure the resume speaks directly to the
                job description. That means, your resume may not need to be entirely different, but you'll
                likely want to make at least a few minor updates. If you're applying for a different type of job,
                you may want a completely different resume, from the content all the way to the format.
                With all the different templates to choose from, take advantage of our resume builder and create a
                variety of resumes to fit both your personality and your different job applications.</p>
        </div>

        <div class="askedquestion--question2">
            <h6>How do I choose the right resume template?</h6>
            <p>Choosing the right resume template mostly comes down to personal preference. Granted, if you're applying
                for a job in finance, you may not want an abstract-leaning format like a graphic designer may use.
                So, as you browse through all the resume templates while you build your resume, think about what
                potential
                may expect to see, then pick the resume that fits both your personality and career goals.</p>
        </div>

        <div class="askedquestion--question3">
            <h6>Free resume builder doesn't usually mean free. Does Resu.me sell my information?</h6>
            <p>Absolutely not. Our resume builder is completely free. From creating an account to uploading your resume
                downloading and printing, you'll never pay a dime. Your information is all secure and we will not sell
                to anyone.</p>
        </div>
    </section>

    <section class="buildresume">
        <div class="buildresume--backgroundimg">
            <img src="../img/Rectangle4.png">
        </div>
        <div class="buildresume--content">
            <h4>Take your first step to getting that dream job here, with Resu.me</h4>
        </div>
        <button class="buildresume--btn">
            <img src="../img/button4.png">
            </div>
    </section>

    <footer>
        <div class="footer--background"><img src="../img/footer.png"></div>
        <div class="footer--lefthalf">
            <div class="footer--logo">
                <img src="../img/logo1.png">
            </div>
            <div class="footer--logoname">
                <div class="footer--logoname1"><h6>Resu.</h6></div>
                <div class="footer--logoname2"><h6>me</h6></div>
            </div>
        </div>
        <div class="footer--righthalf">
            &copy; 2022. All rights reserved | Crafted with love by Team INCOGNI70
        </div>
    </footer>
</body>

</html>