<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./flex.css" />
		<title>Test Title 1</title>
	</head>
	<body>
		<div class="howitworks">
			<div class="howitworks-header">
				<h1>How it works</h1>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
			</div>
			<div class="howitworks-steps">
				<div class="howitworks-step">
					<div class="step-image">
						<div class="step-img">Image</div>
					</div>
					<div class="step-content">
						<div class="step-num">Step 1</div>
						<div class="step-title">THis is step title</div>
						<div class="step-desc">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
							debitis?
						</div>
						<div class="step-btn">Get Started</div>
					</div>
				</div>
				<div class="howitworks-step">
					<div class="step-content">
						<div class="step-num">Step 1</div>
						<div class="step-title">THis is step title</div>
						<div class="step-desc">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
							debitis?
						</div>
						<div class="step-btn">Get Started</div>
					</div>
					<div class="step-image">
						<div class="step-img">Image</div>
					</div>
				</div>
				<div class="howitworks-step">
					<div class="step-image">
						<div class="step-img">Image</div>
					</div>
					<div class="step-content">
						<div class="step-num">Step 1</div>
						<div class="step-title">THis is step title</div>
						<div class="step-desc">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
							debitis?
						</div>
						<div class="step-btn">Get Started</div>
					</div>
				</div>
				<div class="howitworks-step">
					<div class="step-content">
						<div class="step-num">Step 1</div>
						<div class="step-title">THis is step title</div>
						<div class="step-desc">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
							debitis?
						</div>
						<div class="step-btn">Get Started</div>
					</div>
					<div class="step-image">
						<div class="step-img">Image</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
