:root {
  --lightblue: #e7f1f9;
  --blue: #045CDC;
  --white: #FFFFFF;
  --grey: #545C6A;
  --black: #1D1F20;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightblue);
}

.navbar-content {
  width: 100%;
  max-width: 1440px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 50px;
}

.navbar-logopic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logoname {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.7rem;
}

.navbar-logoname1 {
  color: (#23272B, #23272B);
}

.navbar-logoname2 {
  color: var(--blue);
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-link:hover {
  color: var(--blue);
  cursor: pointer;
}

.navbar-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.navbar-btncontent {
  border: none;
  outline: none;
  padding: 6px 20px;
  border: 1px solid var(--blue);
  color: var(--blue);
  margin: 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

/* Hero */
.hero {
  width: 100%;
  height: 32.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  background: var(--lightblue);
}

.hero-heading h1 {
  width: 100%;
  max-width: 1440px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.hero-heading p {
  width: 100%;
  max-width: 1440px;
  font-size: 1rem;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  font-weight: 500;
}

.hero-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.hero-btncontent {
  border: none;
  outline: none;
  padding: 9px 30px;
  background-color: var(--blue);
  color: var(--white);
  margin: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.hero-img {
  padding-top: 50px;
}

.hero-img img {
  height: 406px;
}

/* Why Choose Resume */
.whychoose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.whychoose-heading {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25rem;
}

.whychoose-heading h1 {
  width: 100%;
  max-width: 1440px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.whychoose-heading p {
  width: 100%;
  max-width: 1440px;
  font-size: 1rem;
  display: flex;
  padding-top: 15px;
  justify-content: center;
  font-weight: 500;
}

.whychoose-boxs {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.whychoose-box1 {
  display: flex;
  flex-direction: column;
}

.whychoose-imgbox1 {
  padding: 0.8rem;
  background-color: #FF8F96;
  border-radius: 20px;
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}

.whychoose-imgbox2 {
  padding: 1.2rem;
  background-color: #BCE67A;
}

.whychoose-imgbox3 {
  padding: 1.2rem;
  background-color: #85C6EF;
}

.whychoose-imgbox4 {
  padding: 1.5rem;
  background-color: #A48DC4;
}

.whychoose-box p {
  padding-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

/* How it Works */
.howitworks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 8rem;
}

.howitworks-heading {
  width: 100%;
  max-width: 1440px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  font-weight: 800;
}

.howitworks-headercontent {
  font-weight: 500;
  font-size: 1rem;
  padding-top: 1rem;
}

.howitworks-steps {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.howitworks-step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.step-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.step-img {
  border-radius: 0.7rem;
  width: 512px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.step-image1 {
  justify-content: flex-start;
}

.step-content1 {
  text-align: right;
}

.step-num {
  color: var(--blue);
  font-weight: 500;
  font-size: 1rem;
}

.step-title {
  font-size: 2rem;
  font-weight: 700;
}

.step-desc {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.step-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 0px;
}

.step-btncontent {
  border: none;
  outline: none;
  padding: 9px 20px;
  background-color: var(--blue);
  color: var(--white);
  margin: 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.step-btn1 {
  display: flex;
  justify-content: flex-end;
}

/* Build Resume */
.buildresume {
  width: 100%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue);
}

.buildresume-header h5 {
  width: 100%;
  max-width: 1440px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: var(--white);
}

.buildresume-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.buildresume-btncontent {
  border: none;
  outline: none;
  padding: 9px 20px;
  background-color: var(--white);
  color: var(--blue);
  margin: 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.buildresume-content {
  color: var(--white);
  font-weight: 400;
  font-size: 0.9rem;
}

.logopos {
  justify-content: flex-start;
  color: var(--white);
}

.devdetails {
  width: 100%;
  max-width: 1440px;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}

.devdetails-content {
  width: 100%;
  max-width: 1440px;
  font-size: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 10rem;
}

.devdetails-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.logopos {
  padding-left: 0rem;
}

.devdetails-left-content {
  display: flex;
  align-content: flex-start;
  color: var(--white);
  padding-top: 1rem;
  font-weight: 400;
  font-size: 1rem;

}

.devdetails-left-copyright {
  display: flex;
  align-content: flex-start;
  color: var(--grey);
  padding-top: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.devdetails-right {
  display: flex;
  gap: 3rem;
}

.dev-rightbox-header {
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.dev-rightbox-pnt {
  color: var(--grey);
  font-weight: 400;
  font-size: 0.8rem;
  padding-top: 0.8rem;
}

/* Footer */
.footer {
  width: 100%;
  max-width: 1440px;
  background-color: var(--black);
  color: var(--grey);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 0.8rem;

}